body{
    background-color: black;
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: cyan;
}

#container{
    background-color:black;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color:dimgray;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 10px;
    color:aliceblue;
}

#nav {
    width:180px;
    float: left;
}

#main {
    width: 1000px;
    float: right;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: dimgray;
    color: white;
    text-align: right;
}

#nav .selected{
    font-weight: bold;
}
#nav ul {
    list-style-type: none;
    padding: 0;
}
h1, h2, h3{
    margin: 0;
}
